body {
    font-family: 'Open Sans', sans-serif;

    /* Reset the document's margin values */
	margin: 0;
	/* Reset the document's padding values */
	padding: 0;

	/* Use a non-white background color to make the content areas stick out from the full page box */
	background-color: #eee;
}

.page {
	/* Styles for better appearance on screens only -- are reset to defaults in print styles later */

	/* Divide single pages with some space and center all pages horizontally */
	margin: 1cm auto;
	/* Define a white paper background that sticks out from the darker overall background */
	background: #fff;
	/* Show a drop shadow beneath each page */
	/* box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2); */
	/* Override outline from user agent stylesheets */
    outline: 0;
    
    /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	width: 21cm;
	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	min-height: 29.7cm;

	/* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
	padding-left: 2cm;
	padding-top: 2cm;
	padding-right: 2cm;
	padding-bottom: 2cm;
}
/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
	/* You can only change the size, margins, orphans, widows and page breaks here */

	/* Paper size and page orientation */
	size: A4 portrait;

	/* Margin per single side of the page */
	margin-left: 2cm;
	margin-top: 2cm;
	margin-right: 2cm;
	margin-bottom: 2cm;
}
.profile-header{
    display: flex;
    justify-content: space-between;
}

.profile-header p{
    margin-top: 0;
}

.name-container{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.name{
    font-size: 20px;
    font-weight: 600;
}

.role{
    font-size: 16px;
    font-weight: 300;
}

.social-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.social-url{
    display: inline-block;
    margin-bottom: 1em;
}

.exp-node, .ed-node{
    display: flex;
    justify-content: space-between;
}

.container{
    display: inline-block;
    vertical-align: top;
}

.w10{
    width: 10%;
}
.w20{
    width: 20%;
}
.w25{
    width: 25%;
}
.w30{
    width: 30%;
}
.w50{
    width: 50%;
}
.w70{
    width: 70%;
}
.w75{
    width: 75%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}
.w100{
    width: 100%;
}

p, ul{
    font-size: 12px;
}

h3{
    font-size: 14px;
}

h2{
    font-size: 16px;
}

h1{
    font-size: 18px;
}

hr{
    margin: 30px auto;
    border-color: #ffffff;
}